/*
 * Reviung41 Test Keymap - Debug Physical Layout
 *
 * This keymap assigns each key a unique identifier so we can map
 * the physical layout to the matrix positions correctly.
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        // Test macros for each position
        pos_0_0: pos_0_0 {
            label = "pos_0_0";
            compatible = "zmk,behavior-macro";
            wait-ms = <5>;
            tap-ms = <5>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp N0 &kp DOT &kp N0>;
        };

        pos_0_1: pos_0_1 {
            label = "pos_0_1";
            compatible = "zmk,behavior-macro";
            wait-ms = <5>;
            tap-ms = <5>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp N0 &kp DOT &kp N1>;
        };

        pos_0_2: pos_0_2 {
            label = "pos_0_2";
            compatible = "zmk,behavior-macro";
            wait-ms = <5>;
            tap-ms = <5>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp N0 &kp DOT &kp N2>;
        };

        pos_0_3: pos_0_3 {
            label = "pos_0_3";
            compatible = "zmk,behavior-macro";
            wait-ms = <5>;
            tap-ms = <5>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp N0 &kp DOT &kp N3>;
        };

        pos_0_4: pos_0_4 {
            label = "pos_0_4";
            compatible = "zmk,behavior-macro";
            wait-ms = <5>;
            tap-ms = <5>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp N0 &kp DOT &kp N4>;
        };

        pos_0_5: pos_0_5 {
            label = "pos_0_5";
            compatible = "zmk,behavior-macro";
            wait-ms = <5>;
            tap-ms = <5>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp N0 &kp DOT &kp N5>;
        };

        pos_1_0: pos_1_0 {
            label = "pos_1_0";
            compatible = "zmk,behavior-macro";
            wait-ms = <5>;
            tap-ms = <5>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp N1 &kp DOT &kp N0>;
        };

        pos_1_1: pos_1_1 {
            label = "pos_1_1";
            compatible = "zmk,behavior-macro";
            wait-ms = <5>;
            tap-ms = <5>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp N1 &kp DOT &kp N1>;
        };

        pos_1_2: pos_1_2 {
            label = "pos_1_2";
            compatible = "zmk,behavior-macro";
            wait-ms = <5>;
            tap-ms = <5>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp N1 &kp DOT &kp N2>;
        };

        pos_1_3: pos_1_3 {
            label = "pos_1_3";
            compatible = "zmk,behavior-macro";
            wait-ms = <5>;
            tap-ms = <5>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp N1 &kp DOT &kp N3>;
        };

        pos_1_4: pos_1_4 {
            label = "pos_1_4";
            compatible = "zmk,behavior-macro";
            wait-ms = <5>;
            tap-ms = <5>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp N1 &kp DOT &kp N4>;
        };

        pos_1_5: pos_1_5 {
            label = "pos_1_5";
            compatible = "zmk,behavior-macro";
            wait-ms = <5>;
            tap-ms = <5>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp N1 &kp DOT &kp N5>;
        };

        pos_2_0: pos_2_0 {
            label = "pos_2_0";
            compatible = "zmk,behavior-macro";
            wait-ms = <5>;
            tap-ms = <5>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp N2 &kp DOT &kp N0>;
        };

        pos_2_1: pos_2_1 {
            label = "pos_2_1";
            compatible = "zmk,behavior-macro";
            wait-ms = <5>;
            tap-ms = <5>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp N2 &kp DOT &kp N1>;
        };

        pos_2_2: pos_2_2 {
            label = "pos_2_2";
            compatible = "zmk,behavior-macro";
            wait-ms = <5>;
            tap-ms = <5>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp N2 &kp DOT &kp N2>;
        };

        pos_2_3: pos_2_3 {
            label = "pos_2_3";
            compatible = "zmk,behavior-macro";
            wait-ms = <5>;
            tap-ms = <5>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp N2 &kp DOT &kp N3>;
        };

        pos_2_4: pos_2_4 {
            label = "pos_2_4";
            compatible = "zmk,behavior-macro";
            wait-ms = <5>;
            tap-ms = <5>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp N2 &kp DOT &kp N4>;
        };

        pos_2_5: pos_2_5 {
            label = "pos_2_5";
            compatible = "zmk,behavior-macro";
            wait-ms = <5>;
            tap-ms = <5>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp N2 &kp DOT &kp N5>;
        };

        pos_3_0: pos_3_0 {
            label = "pos_3_0";
            compatible = "zmk,behavior-macro";
            wait-ms = <5>;
            tap-ms = <5>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp N3 &kp DOT &kp N0>;
        };

        pos_3_1: pos_3_1 {
            label = "pos_3_1";
            compatible = "zmk,behavior-macro";
            wait-ms = <5>;
            tap-ms = <5>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp N3 &kp DOT &kp N1>;
        };

        pos_3_2: pos_3_2 {
            label = "pos_3_2";
            compatible = "zmk,behavior-macro";
            wait-ms = <5>;
            tap-ms = <5>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp N3 &kp DOT &kp N2>;
        };

        pos_3_3: pos_3_3 {
            label = "pos_3_3";
            compatible = "zmk,behavior-macro";
            wait-ms = <5>;
            tap-ms = <5>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp N3 &kp DOT &kp N3>;
        };

        pos_3_4: pos_3_4 {
            label = "pos_3_4";
            compatible = "zmk,behavior-macro";
            wait-ms = <5>;
            tap-ms = <5>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp N3 &kp DOT &kp N4>;
        };

        pos_3_5: pos_3_5 {
            label = "pos_3_5";
            compatible = "zmk,behavior-macro";
            wait-ms = <5>;
            tap-ms = <5>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp N3 &kp DOT &kp N5>;
        };

        pos_4_0: pos_4_0 {
            label = "pos_4_0";
            compatible = "zmk,behavior-macro";
            wait-ms = <5>;
            tap-ms = <5>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp N4 &kp DOT &kp N0>;
        };

        pos_4_1: pos_4_1 {
            label = "pos_4_1";
            compatible = "zmk,behavior-macro";
            wait-ms = <5>;
            tap-ms = <5>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp N4 &kp DOT &kp N1>;
        };

        pos_4_2: pos_4_2 {
            label = "pos_4_2";
            compatible = "zmk,behavior-macro";
            wait-ms = <5>;
            tap-ms = <5>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp N4 &kp DOT &kp N2>;
        };

        pos_4_3: pos_4_3 {
            label = "pos_4_3";
            compatible = "zmk,behavior-macro";
            wait-ms = <5>;
            tap-ms = <5>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp N4 &kp DOT &kp N3>;
        };

        pos_4_4: pos_4_4 {
            label = "pos_4_4";
            compatible = "zmk,behavior-macro";
            wait-ms = <5>;
            tap-ms = <5>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp N4 &kp DOT &kp N4>;
        };

        pos_4_5: pos_4_5 {
            label = "pos_4_5";
            compatible = "zmk,behavior-macro";
            wait-ms = <5>;
            tap-ms = <5>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp N4 &kp DOT &kp N5>;
        };

        pos_5_0: pos_5_0 {
            label = "pos_5_0";
            compatible = "zmk,behavior-macro";
            wait-ms = <5>;
            tap-ms = <5>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp N5 &kp DOT &kp N0>;
        };

        pos_5_1: pos_5_1 {
            label = "pos_5_1";
            compatible = "zmk,behavior-macro";
            wait-ms = <5>;
            tap-ms = <5>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp N5 &kp DOT &kp N1>;
        };

        pos_5_2: pos_5_2 {
            label = "pos_5_2";
            compatible = "zmk,behavior-macro";
            wait-ms = <5>;
            tap-ms = <5>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp N5 &kp DOT &kp N2>;
        };

        pos_5_3: pos_5_3 {
            label = "pos_5_3";
            compatible = "zmk,behavior-macro";
            wait-ms = <5>;
            tap-ms = <5>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp N5 &kp DOT &kp N3>;
        };

        pos_5_4: pos_5_4 {
            label = "pos_5_4";
            compatible = "zmk,behavior-macro";
            wait-ms = <5>;
            tap-ms = <5>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp N5 &kp DOT &kp N4>;
        };

        pos_5_5: pos_5_5 {
            label = "pos_5_5";
            compatible = "zmk,behavior-macro";
            wait-ms = <5>;
            tap-ms = <5>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp N5 &kp DOT &kp N5>;
        };

        pos_6_0: pos_6_0 {
            label = "pos_6_0";
            compatible = "zmk,behavior-macro";
            wait-ms = <5>;
            tap-ms = <5>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp N6 &kp DOT &kp N0>;
        };

        pos_6_1: pos_6_1 {
            label = "pos_6_1";
            compatible = "zmk,behavior-macro";
            wait-ms = <5>;
            tap-ms = <5>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp N6 &kp DOT &kp N1>;
        };

        pos_6_2: pos_6_2 {
            label = "pos_6_2";
            compatible = "zmk,behavior-macro";
            wait-ms = <5>;
            tap-ms = <5>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp N6 &kp DOT &kp N2>;
        };

        pos_6_3: pos_6_3 {
            label = "pos_6_3";
            compatible = "zmk,behavior-macro";
            wait-ms = <5>;
            tap-ms = <5>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp N6 &kp DOT &kp N3>;
        };

        pos_6_4: pos_6_4 {
            label = "pos_6_4";
            compatible = "zmk,behavior-macro";
            wait-ms = <5>;
            tap-ms = <5>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp N6 &kp DOT &kp N4>;
        };
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
// Physical layout: Row 0 (left) | Row 0 (right)
     &pos_0_0    &pos_0_1    &pos_0_2    &pos_0_3    &pos_0_4    &pos_0_5                                &pos_3_0    &pos_3_1    &pos_3_2    &pos_3_3    &pos_3_4    &pos_3_5
// Physical layout: Row 1 (left) | Row 1 (right)
     &pos_1_0    &pos_1_1    &pos_1_2    &pos_1_3    &pos_1_4    &pos_1_5                                &pos_4_0    &pos_4_1    &pos_4_2    &pos_4_3    &pos_4_4    &pos_4_5
// Physical layout: Row 2 (left) | Row 2 (right)
     &pos_2_0    &pos_2_1    &pos_2_2    &pos_2_3    &pos_2_4    &pos_2_5                                &pos_5_0    &pos_5_1    &pos_5_2    &pos_5_3    &pos_5_4    &pos_5_5
// Physical layout: Row 6 (bottom row - 5 keys)
                                                &pos_6_0    &pos_6_1    &pos_6_2    &pos_6_3    &pos_6_4
            >;
        };
    };
};
